@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  html, body {
    @apply font-sans antialiased;
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    
    cursor: url("/Dice.cur"), auto;

    font-family: var(--font-inter), sans-serif !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-inter), sans-serif !important;
    font-weight: 600;
    letter-spacing: -0.025em;
  }

  p {
    font-family: var(--font-inter), sans-serif !important;
    font-weight: 300;
    opacity: 0.8;
  }

  /* Custom text shadow for hover effect */
.hover\:text-shadow:hover {
  text-shadow: 0px 6px 15px rgba(255, 0, 0, 0.5);
}

}

