@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  html, body {
    @apply font-sans antialiased;
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    cursor: url(https://ani.cursors-4u.net/nature/nat-11/nat1058.cur), auto;
    font-family: var(--font-inter), sans-serif !important;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-inter), sans-serif !important;
    font-weight: 600;
    letter-spacing: -0.025em;
  }

  p {
    font-family: var(--font-inter), sans-serif !important;
    font-weight: 300;
    opacity: 0.8;
  }
}
